@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark-grey: #292929;
  --black: #101010;
  --green: #43AF49;
  --white: #FFFFFF;
}

body {
  background-color: var(--dark-grey);
  color: var(--white);
}

.bg-contact {
  background-image: url('../../public/contact.png');
  background-repeat: no-repeat;
  background-size: cover;
  /* Or 'contain' if you want to see the entire image */
  background-position: center;
}

.bg-home {
  background-image: url('../../public/home-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  /* Or 'contain' if you want to see the entire image */
  background-position: center;
}

.bg-about {
  background-image: url('../../public/about-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  /* Or 'contain' if you want to see the entire image */
  background-position: center;
}


.bg-services {
  background-image: url('../../public/services-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  /* Or 'contain' if you want to see the entire image */
  background-position: center;
}